

  <input type="text" form="tags" id="tags">
  <p class="side-note">Add tags separated by commas. This will help you find your look later!</p>
  <input type="submit" class="secondary-button" form="tags" value='Add Tags' id="add">



