<h1>
	Clothing Items
</h1>

<%= link_to('Add New Item', new_clothing_item_path) %>

<ul>
	<% @clothing_items.each do |item| %>
	<li>
		<div>
			<%= link_to item.caption, clothing_item_path(item) %>			
			
		</div>
	</li>
	<% end %>
</ul>

