<style>
	body {
			background-image: url('http://chicscribe.files.wordpress.com/2013/01/oc-pink-drapes.jpg');
			background-position: top;
	}

</style>

<div id="login">
	<h1>
		Welcome!
	</h2>
	<form id="login-form" action="/login" method="post">
	  <%= token_tag %>
	  <label for="user[username]">Username</label><br>
	  <input type="text" name="user[username]"><br>
	  <label for="user[password]">Password</label><br>
	  <input type="password" name="user[password]"><br>
	  <input id="login-button" class="primary-button" type="submit" value="Log in!">
</div>