<style>
	body {
			background-image: url('http://chicscribe.files.wordpress.com/2013/01/oc-pink-drapes.jpg');
			background-position: top;
	}

</style>
<div>
	<div id="info">
		<p>
			Juxtapose is a fashion app for urbanites who have decision paralysis when choosing an outfit. It crowd-sources recommendations for what look is best. Unlike other online wardrobe apps, it incorporates a social element.
		</p>
	</div>

	<div id="register">
		<%= render partial: 'form' %>
	</div>
</div>	