<div class="body">
  <h1 class="heading">
    <%= @tag.text %>
  </h1>
  <div class="tags-show">
    <% @looks.each do |look| %>
      <%=link_to(look) do %>
        <% look.clothing_items.each do |item| %>
          <%= image_tag item.image.url(:thumb) %>
        <% end %>
      <% end %>
    <% end %>
    <div class="inspiration">
      
    </div>
  </div>  
</div>  

<script>
    $(function(){
      $inspiration = $('.inspiration');

      $.ajax({
        method: 'get',
        url: '/tags/looks/<%=@tag.id%>',
        dataType: 'JSON',
        success: function(data){
          photo_array = data.rsp.photos.photo;
          $(photo_array).each(function(index, photo){
            $img = $('<img src="https://farm' + photo.farm + '.staticflickr.com/' + photo.server + '/' + photo.id +'_'+ photo.secret +'.jpg" />');
            $inspiration.append($img);
          });
        }
      });


    });
  

</script>