

  <input class="tag-form" type="text" form="tags" id="tags">
  <p class="side-note">Add tags separated by commas. This will help you find your clothing later!</p>
  <input class="tag-form secondary-button" type="submit" form="tags" value='Add Tags!' id="add">



