<div class="body">
	<h1 class="heading">
		Closet
	</h1>

	<div class="closet-link">
		<%= link_to('Add New Clothing Item', new_clothing_item_path) %> |
		<%= link_to('Create a Look', new_look_path) %>
	</div>	
	<div class="closet">
		<% @clothing_items.each do |item| %>
			<div>
				<%=link_to(item) do %>
				  <%= image_tag item.image.url(:large)%>
				<% end %>							
			</div>
		<% end %>
	</div>
</div>
