.look-clothing-item-checkbox {
display: none;
}

.look-clothing-item{
  padding: 5px

}

.selected{
    position: absolute; 
    width: 100px; 
    height: 100px; 
    background: #555; 
    color: white; 
    opacity: .5; 
    text-align: 
    center; 
    line-height: 100px; 
    display: none;
}
