.nav {
	height: auto;
	padding: 15px;
	background: rgb(255,255,255);
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	margin: 0;
	text-align: right;
}

.nav h1 {
	display: inline;
	margin-right: 400px;
}

.nav a {
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	text-decoration: none;
	text-align: left;
	float: left;
}

#non-user {
	display: inline;
	margin-right: 50px;
	text-decoration: none;
	font-size: 20px;
}

#logout {
	float: right;
}

/*WELCOME PAGE*/
#login {
	margin:-150px 0 0 -250px;
	width: 400px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
}

#login-form input, #register input {
	width: 380px;
	margin: 10px 0;
}

#login-form p, #register p {
	text-align: center;
	margin: 0;
}

/*REGISTER*/
#info {
	float: left;
	width: 400px;
	height: 200px;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
	margin: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-150px 0 0 -470px;
}

#register {
	float: right;
	width: 400px;
	height: 200px;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
	margin: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-150px 0 0;
}

/*CLOTHING ITEMS INDEX*/


/*CLOTHING ITEMS SHOW*/

.heading {
	border-bottom: 1px solid black;
	width: 95%;
	margin: 0 auto 10px auto;
}

.show-image {
	margin-left: 10px;
}

.col1 {
	/*position: absolute;*/
	margin-right: 20px;
	padding-bottom: 5px;
}

.col1 img {
	border: 1px solid black;
}

.col2 {
	position: absolute;
	margin: -190px 100px 0;
	left: 50%;
	top: 50%;
	width: 400px;
	padding: 10px;
}

.edit {
	width: 120px;
	font-size: 20px;
	display: inline;
	margin: 10px;
}

.delete {
	display: inline;
	margin: 0 0 30px 20px;
}

.show-tags li {
	list-style-type: none;
	padding-left: 0;
	display: inline;
	margin: 10px;
	border: 1px solid black;

}

.show-tags a {
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 8px;
}

/*CLOTHING ITEMS NEW*/

.add-image {
	margin: auto;
	width: 421px;
}

.side-note {
	font-size: 13px;
	margin: 5px 0 10px;
}

.add-image input {
	width: 415px;
}

.add-image label {
	margin-bottom: 20px;
}

#save {
	font-size: 30px;
	background-color: green;
}

.tag {
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 8px;
}

.show-tags .tag a {
	text-decoration: none;
	border: none;
}

/*CLOTHING ITEMS*/
.closet-link {
	margin: auto;
	width: 300px;
}

.closet-link a {
	text-decoration: none;	
}

.closet {
	width: 1000px;
	height: 505px;
	margin: 10px auto;
	border: 1px solid black;
	padding: 2px;
	overflow-x: scroll;
}

.closet div {
	display: inline;
	float: left;
}

.closet img {
	border: 1px dotted black;
	margin: 2px;
	height: 500px;
	width: 500px;
}

/*LOOKBOOK*/

.look-name, .vote-count {
	width: 200px;
	margin: auto;
	text-align: center;
}

.lookbook {
	width: 1000px;
	height: 305px;
	margin: 10px auto;
	border: 1px solid black;
	padding: 2px;
	overflow-x: scroll;
}

.vote-count {
	border: 1px solid black;
	padding: 10px;
	width: 20px;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 10px;
}

.note {
	font-size: 13px;
	text-align: center;
	margin-top: 0;
}


/*LOOK NEW*/

.look-form {
	margin-left: 10px;
}

.look-form input {
	width: 400px;
	margin-top: 10px;
}

.new-look {
	width: 500px;
	margin: auto;
}

.save-look input {
	font-size: 30px;
	background-color: green;	
}

#tags {
	width: 400px;
	display: block;
}

/*LOOK SHOW*/

.show-look, .look {
	width: 1000px;
	border: 1px solid black;
	margin: auto;
	height: 310px;
	overflow-x: scroll; 
}

.show-tags {
	width: 500px;
	margin: 20px auto;
}

.show-tags li {
	border-radius: 8px;
	padding: 5px;
}

/*LOOK EDIT*/

.look-image {
	display: inline;
}

.edit-look {
	width: 1000px;
	margin: auto;
}


/*GLOBAL*/

body {
	background-image: url('http://chicscribe.files.wordpress.com/2013/01/oc-pink-drapes.jpg');
	background-position: top;
	margin-top: 85px;
	background-attachment: fixed;
}

.body {
	background: white;
	width: 99%;
	margin-top: 0;
	margin-right: 0;
	height: 90%;
}

output {
	height: 600px;
	width: 600px;
}
