/*GLOBAL*/




















/* Might make sense to break these up into different files and edit the manifest.  Also, consider moving to scss, so you can better namespace.  */


body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('/assets/lilac.jpg');
	background-position: top;
	margin-top: 85px;
	background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: auto;
}

.body {
	background: white;
	width: 99%;
	border-radius: 15px;
}

output {
	height: 600px;
	width: 600px;
}


/*selective*/


.nav {
	height: auto;
	padding: 5px 0;
	background: rgb(255,255,255);
	position: absolute;   /* Can we do positioning without absolute here? */
	top: 0%;
	left: 0%;
	width: 100%;
	margin: 0;
	text-align: right;
}

.nav h1 {
	display: inline;
	margin-right: 400px;
}

.nav a {
	border: 1px solid black;
	margin: 10px;
	padding: 5px;
	text-decoration: none;
	text-align: left;
	float: left;
}

#non-user {
	display: inline;
	margin-right: 50px;
	text-decoration: none;
	font-size: 20px;
}

#logout {
	float: right;
}

/*WELCOME PAGE*/

#login h1 {
    text-align: center;
    margin: auto;
}

#login-button {
    height: 35px;
    background: #A78BBB;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #200F30;
}

.nav a:hover {
    background: #A78BBB;
    color: white;
    border: 1px solid #200F30;
}
#login {
	margin:-150px 0 0 -250px;
	width: 400px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
	border-radius: 25px;
}

#login-form input, #register input {
	width: 380px;
	margin: 10px 0;
}

#login-form p, #register p {
	text-align: center;
	margin: 0;
}

/*REGISTER*/
#info {
	float: left;
	width: 400px;
	height: 200px;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
	margin: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-150px 0 0 -470px;
}

#register {
	float: right;
	width: 400px;
	height: 200px;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
	margin: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:-150px 0 0;
}

/*CLOTHING ITEMS INDEX*/


/*CLOTHING ITEMS SHOW*/

.heading {
	border-bottom: 1px solid black;
	width: 95%;
	margin: 10px auto;
}

.show-image {
	margin-left: 20px;
}

.col1 {
	margin-right: 20px;
	padding-bottom: 5px;
	float: left;
}

.col1 img {
	border: 1px solid black;
}

.col2 {
	width: 430px;
	float: left;
}

.edit {
	font-size: 20px;
	display: inline;
	margin: 10px;
	margin-top: 0px;
}

.delete {
	display: inline;
}

.show-tags li {
	list-style-type: none;
	margin: 10px;
	border: 1px solid #A78BBB;

}

.show-tags a {
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 8px;
	color: rgb(127, 33, 139);
}

.show-tags li:hover {
    background: #A78BBB;
}

.show-tags li:hover a {
    color: white;
}

form.button_to {
   display: inline;
}

form.button_to div {
   display: inherit;
}

/*CLOTHING ITEMS NEW*/

.add-image {
	margin: auto;
	width: 421px;
}

output img {
    width: 200px;
}

.side-note {
	font-size: 13px;
	margin: 5px 0 10px;
}

.add-image label {
	margin-bottom: 20px;
}

.primary-button {
	font-size: 30px;
	background-color: #A78BBB;
	border: none;
	border-radius: 7px;
	box-shadow: 1px 1px 4px #200F30;
	cursor: pointer;
	width: 415px;
}

.secondary-button {
  height: 30px;
  background: white;
  border: 1px solid #A78BBB;
  border-radius: 7px;
  box-shadow: 1px 1px 4px #200F30;
  cursor: pointer;
  width: 415px;
}

.secondary-button:hover {
  background: #A78BBB;
  color: white;
}

.edit {
   width: auto;
}

form#new_clothing_item {
    padding-bottom: 10px;
}

.primary-button:hover {
    color: white;
}

.tag {
	border: 1px solid black;
	padding: 5px 10px;
	border-radius: 8px;
}

.show-tags .tag a {
	text-decoration: none;
	color:  #A78BBB;
	border: none;
	font-weight: bolder;
}

.tag-form {
	margin-top: 11px;
	text-align: center;
}

input#tags {
	height: 15px;
}

#clothing_item_caption {
	text-align: center;
}



/*CLOTHING ITEMS*/
.closet-link {
	margin: auto;
	width: 300px;
}

.closet-link a {
	text-decoration: none;
}

.closet {
	margin: 10px auto;
	padding: 10px;
	width: 95%;
}

.closet div {
	display: inline-block;
}

.closet img {
	border: 1px dotted black;
	float: left;
	width: 245px;
}

/*LOOKBOOK*/

.look-name, .vote-count {
	width: 200px;
	margin: auto;
	text-align: center;
}

.lookbook {
	width: calc(100% - 2px);
	height: 300px;
	margin: 10px auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	overflow-x: scroll;
	overflow-y: hidden;
}

.lookbook-inner {
   width: 3000px;
}

.vote-count {
	border: 1px solid black;
	padding: 10px;
	width: 20px;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 10px;
}

.note {
	font-size: 13px;
	text-align: center;
	margin-top: 0;
}


/*LOOK NEW*/

.picture-frame.small {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
}

.clothing-item {
    display: inline-block;
    cursor: pointer;
}

.look-form {
	margin-left: 10px;
}

.look-form input {
	width: 400px;
	margin-top: 10px;
}

.new-look {
	width: 500px;
	margin: auto;
}

.save-look input {
	font-size: 30px;
}

input#look_name {
	text-align: center;
}

input#tags {
	text-align: center;
	margin-bottom: 13px;
}

#tags {
	width: 415px;
	display: block;
	margin: 0;
	padding: 0;
}

form#new_look {
  padding-bottom: 10px;
}

.picture-frame label {
   cursor: pointer;
}

.lookbook-inner div {
  float: left;
  display: inline-block;
  height: 285px;
  overflow: hidden;
}

/*LOOK SHOW*/

.show-look, .look {
}

.show-tags {
	width: 415px;
	margin: 20px auto;
	padding: 0;
}

.show-tags li {
	display: inline-block;
	border-radius: 7px;
	padding: 4px;
}

/*LOOK EDIT*/

.look-image {
    height: 300px;
}

.edit-look {
	width: auto;
	margin: auto;
}

/*GALLERY*/

.vote {
	width: 200px;
	margin: 20px auto;
}

.vote-yes {
	background-color: white;
	padding: 7px;
	border-radius: 7px;
	font-size: 16px;
	border: 1px solid rgb(97, 137, 97);
	box-shadow: 1px 1px 4px rgb(97, 137, 97);
	cursor: pointer;
}

.vote-no {
	background-color: white;
	padding: 7px;
	border-radius: 7px;
	font-size: 16px;
	border: 1px solid rgb(189, 99, 99);
	box-shadow: 1px 1px 4px rgb(189, 99, 99);
	cursor: pointer;
}

.vote-yes:hover {
	background-color: rgb(97, 137, 97);
	color: white;
}

.vote-no:hover {
	background-color: rgb(189, 99, 99);
	color: white;
}

.yes {
  background: rgb(97, 137, 97);
  color: white;
  border: 1px solid gold;
}

.no {
  background: rgb(189, 99, 99);
  color: white;
  border: 1px solid;
}

/*TAGS*/

.tags-show {
	margin-left: 18px;
}


/*Clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
